# Advanced Data Structures in Python

## Nested Lists
### Introduction to Nested Lists
### Definition and Use Cases:
Nested lists are lists within lists. They are useful for representing complex data structures like matrices, <br>tables, or any hierarchical data.

#### Creating Nested Lists:
You can create a nested list by placing lists within a list.

In [1]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
l1 = [[1],[2],[3]]
l1

[[1], [2], [3]]

### Accessing Elements
### Single Level Access:
Access elements of the outer list.

In [2]:
nested_list = [[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]]
print(nested_list[1])

[4, 5, 6]

In [24]:
print(nested_list[1])

[4, 5, 6]

### Multiple Level Access:
Access elements within the inner lists.

In [4]:
nested_list = [[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]]

print(nested_list[2][2])

9

In [5]:
lst = [1,2,3,4]

lst.append(5)
lst

[1, 2, 3, 4, 5]

### Modifying Nested Lists
### Adding Elements:
Add a new list to the nested list.

In [14]:
nested_list = [[1, 2, 3],
               [4, 5, 6],
               [7, 8, 9]]



nested_list.append([10, 11, 12,6])
print(nested_list)

nested_list[1][1] = 500
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12, 6]]

[[1, 2, 3], [4, 500, 6], [7, 8, 9], [10, 11, 12, 6]]

In [16]:
l1.append([4])
l1

NameError: name 'l1' is not defined

## Removing Elements:
Remove a list from the nested list.

In [17]:
nested_list.pop(1)
nested_list

[[1, 2, 3], [7, 8, 9], [10, 11, 12, 6]]

### Updating Elements:
Change elements within the inner lists.

In [29]:
nested_list[0][1] = 20
print(nested_list)

[[1, 20, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [30]:
nested_list[1][1] = 500
nested_list

[[1, 20, 3], [4, 500, 6], [7, 8, 9], [10, 11, 12]]

### Iterating through Nested Lists
Using Loops to Iterate:

In [1]:
nested_list = [[1,2,3],
               [1,2,3]]

for sublist in nested_list:
    for item in sublist:
        print(item, end=' , ')
else:
    print("The listb is empty")

1 , 2 , 3 , 1 , 2 , 3 , The listb is empty

In [3]:
i= 0
j = 0
while(i <= len(nested_list)):
    while(j<= len(nested_list)):
        print(nested_list[i][j])
    
        j+=1
    i+=1

1
2
3

## List Comprehensions in Python

In [29]:
sqr = [2,4,9,16]

### Definition:
List comprehensions provide a concise way to create lists in Python. They allow you to generate a<br> new list by applying an expression to each item in an existing iterable (like a list or a range)<br> and can include optional filtering.

Syntax:

new_list = [expression `for` item in iterable if condition]

### expression:
The value or operation to apply to each item.
### item: 
The current item in the iteration.
### iterable:
The collection being iterated over (like a list, tuple, or range).
### condition (optional):
A filter to include only certain items.
### Examples
### Basic List Comprehension:
Create a list of squares from 0 to 9.

In [4]:
squares = [x**2 for x in range(100)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [55]:

c = [i**3 for i in range(20)]
print(c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]

In [59]:
c = []

for i in range(20,5,-2):
    c.append(i**3)

print(c)

[8000, 5832, 4096, 2744, 1728, 1000, 512, 216]

### With a Condition:
Create a list of even numbers from 0 to 9.

In [6]:
evens = [i for i in  range(20) if i % 2 == 0]
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [57]:
odd = [x for x in range(20) if x % 2 == 1 ]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Nested List Comprehensions:
Flatten a nested list.

In [ ]:
nested_list = [[1,2,3],
               [1,2,3]]

for sublist in nested_list:
    for item in sublist:
        print(item, end=' , ')
else:
    print("The listb is empty")

In [9]:
nested_list = [[1, 2],
               [3, 4],
               [5, 6]]
print(nested_list)
flat_list = []

for sublist in nested_list:
    for item in sublist:
        flat_list.append(item)
print(flat_list)

[[1, 2], [3, 4], [5, 6]]
[1, 2, 3, 4, 5, 6]

In [10]:


flat_list = [c for s in nested_list for c in s ]
print(flat_list)

[1, 2, 3, 4, 5, 6]

### Benefits of List Comprehensions
#### Conciseness: 
Reduces the number of lines of code needed to create lists.
#### Readability: 
Often easier to read for those familiar with the syntax.
#### Performance:
Generally faster than using traditional for loops for list creation.

# Nested Tuples in Python
### Definition:
Nested tuples are tuples that contain other tuples as their elements. They can be used to represent<br> complex data structures or hierarchical relationships, similar to how nested lists work.

### Creating Nested Tuples
### Simple Nested Tuple:
You can create a nested tuple by placing one or more tuples inside another tuple.

In [20]:
nested_tuple = ((1, 2),
                (3, 4), 
                (5, 6))
print(nested_tuple[1])

(3, 4)

### More Complex Structure:
You can nest tuples to any level.

In [65]:
complex_nested_tuple = (1, 
                        (2, 3),
                        (4, 
                         (5, 6)))
print(complex_nested_tuple[2])

(4, (5, 6))

### Accessing Elements in Nested Tuples
You can access elements in nested tuples using multiple indexing.

In [70]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Accessing the first inner tuple
print(nested_tuple[2]) 

# Accessing the second element of the first inner tuple
print(nested_tuple[0][1])  

# Accessing the second element of the second inner tuple
print(nested_tuple[1][1])

(5, 6)
2
4

### Modifying Nested Tuples
Tuples are immutable, meaning you cannot change their elements directly. However, you can create<br> __a new tuple__ based on the existing one

In [69]:
# Original nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Creating a new nested tuple with modified elements
new_nested_tuple = (nested_tuple[0], (10, 20), nested_tuple[2])
print(new_nested_tuple)
print(nested_tuple)

((1, 2), (10, 20), (5, 6))
((1, 2), (3, 4), (5, 6))

In [68]:
t = (("q"),("b"))
n_t = (t[0],("ali"),t[1])
print(n_t)

('q', 'ali', 'b')

### Iterating Through Nested Tuples
You can use loops to iterate through elements in nested tuples.

In [65]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

for inner_tuple in nested_tuple:
    for item in inner_tuple:
        print(item)

1
2
3
4
5
6

## Tuple Comprehensions in Python
### Definition:
Unlike lists, Python does not have a specific syntax for tuple comprehensions. However,<br> you can create tuples using generator expressions, which are similar to list comprehensions but<br> use parentheses instead of brackets.

#### Syntax:

tuple_expression =`tuple` __(expression__ `for` item `in`iterable `if` __condition)__

## Creating Tuples with Generator Expressions
### Basic Tuple Creation:
You can create a tuple from an iterable using a generator expression.

In [74]:
my_tuple = tuple(x**2 for x in range(5))
print(type(my_tuple))

<class 'tuple'>

### With a Condition:
You can include a condition to filter elements.

In [78]:
even_tuple = tuple(x for x in range(10) if x % 2 == 0)
print(even_tuple)
print(2**6)

print([x+3 for x in range(20)])

(0, 2, 4, 6, 8)
64
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

## Using Nested Generators:
You can also use nested generator expressions to create tuples `from` nested data.

In [24]:
nested_tuple = ((1, 2), (3, 4), 
               (5, 6))
flat_tuple = tuple(num for sublist in nested_list for num in sublist)
print(flat_tuple)
type(flat_tuple)

(1, 2, 3, 4, 5, 6)

tuple

## Nested Dictionaries
#### Introduction to Nested Dictionaries
#### Definition and Use Cases:
Nested dictionaries are dictionaries within dictionaries. They are useful for representing<br> more complex hierarchical data like JSON objects or configuration settings.

#### Creating Nested Dictionaries:

In [30]:
nested_tuple = ((1, 2),
                (3, 4), 
               (5, 6))

nested_dict = {1: {'student1': 'ali', 'student2': 'haris'}, 
               2: {'student1': 'Adnan', 'student2': 'Ahmad'}}

std = {'student1': 'ali', 'student2': 'haris'}
std["student2"]

'haris'

## Accessing Elements
#### Single Level Access:

In [31]:
print(nested_dict[1])

{'student1': 'ali', 'student2': 'haris'}

## Multiple Level Access:

In [32]:
print(nested_dict[2]['student2'])

Ahmad

## Modifying Nested Dictionaries
### Adding Key-Value Pairs:

In [39]:
nested_dict[3] = {'student1': 'Khan'}
print(nested_dict)

{1: {'student1': 'ali'}, 2: {'student1': 'Adnan', 'student2': 'Ahmad'}, 3: {'student1': 'Khan'}}

### Removing Key-Value Pairs:

In [38]:
print(nested_dict)

{1: {'student1': 'ali'}, 2: {'student1': 'Adnan', 'student2': 'Ahmad'}, 3: {'student1': 'Khan'}}

In [37]:
print(nested_dict[1])
del nested_dict[1]['student2']
nested_dict[1]

{'student1': 'ali'}

KeyError: 'student2'

In [24]:
print(nested_dict)

{'class1': {'student1': 'ali'}, 'class2': {'student1': 'Adnan', 'student2': 'Evelyn'}, 'class3': {'student1': 'Khan'}}

## Updating Values:

In [41]:
nested_dict[2]['student2'] = 'hafeez'
print(nested_dict)

{1: {'student1': 'ali'}, 2: {'student1': 'Adnan', 'student2': 'hafeez'}, 3: {'student1': 'Khan'}}

### Iterating through Nested Dictionaries
#### Using Loops to Iterate:

In [44]:
nested_dict = {1: {'student1': ['ali',"khan"], 'student2': 'haris'}, 
               2: {'student1': 'Adnan', 'student2': 'Ahmad'}}


for c, std in nested_dict.items():
    for std_id, std_name in std.items():
        print(f"{std_id}: {std_name}")

student1: ['ali', 'khan']
student2: haris
student1: Adnan
student2: Ahmad

### Dictionary Comprehensions with Nested Dictionaries:

In [45]:
all_students = {student_id: student_name for class_name, students in nested_dict.items() for student_id, student_name in students.items()}
print(all_students)

{'student1': 'Adnan', 'student2': 'Ahmad'}

# Nested Sets
## Introduction to Nested Sets
### Definition and Use Cases:
Sets themselves cannot be nested directly because they are mutable, but you can use frozensets<br> (immutable sets) to create a set of sets. Useful for representing sets of unique,<br> immutable groups of items.

#### Creating Nested Sets Using Frozensets:

In [36]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

## Accessing Elements
### Accessing Elements within Frozensets:

In [37]:
for subset in nested_set:
    print(subset)

frozenset({1, 2, 3})
frozenset({4, 5, 6})

### Modifying Nested Sets
#### Adding Elements:

In [38]:
new_frozenset = frozenset({7, 8, 9})
nested_set.add(new_frozenset)
print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

### Removing Elements:

In [39]:
nested_set.remove(frozenset({1, 2, 3}))
print(nested_set)

{frozenset({4, 5, 6}), frozenset({8, 9, 7})}

## Iterating through Nested Sets
### `Using Loops to Iterate:

In [40]:
for subset in nested_set:
    for item in subset:
        print(item)

4
5
6
8
9
7

## Practical Examples and Exercises
## Example Projects
###### Create a School Database Using Nested Dictionaries:

In [43]:
school = {
    'class1': {
        'student1': {'name': 'Ahmad', 'age': 10},
        'student2': {'name': 'Danish', 'age': 11},
    },
    'class2': {
        'student1': {'name': 'Ali', 'age': 12},
        'student2': {'name': 'Zia', 'age': 13},
    }
}

# Accessing data
print(school['class1']['student1']['name']) 

# Adding a new student
school['class2']['student3'] = {'name': 'Khan', 'age': 14}
print(school,end=",                                                     ")

Ahmad
{'class1': {'student1': {'name': 'Ahmad', 'age': 10}, 'student2': {'name': 'Danish', 'age': 11}}, 'class2': {'student1': {'name': 'Ali', 'age': 12}, 'student2': {'name': 'Zia', 'age': 13}, 'student3': {'name': 'Khan', 'age': 14}}},

## Manipulate a Matrix Using Nested Lists:

In [45]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)
# Transposing the matrix
transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(transposed)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Exercises
### Practice Problems on Nested Data Structures:

###### Create a nested list and write a function to flatten it.<br>
###### Create a nested dictionary and write a function to print all the keys and values.

In [53]:
def flatten_list(nested_list):
    return [item for sublist in nested_list for item in sublist]

print(flatten_list([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
# Exercise 2: Print all keys and values of a nested dictionary
def print_nested_dict(nested_dict):
    for key, value in nested_dict.items():
        if isinstance(value, dict):
            print(f"{key}:")
            print_nested_dict(value)
        else:
            print(f"{key}: {value}")

print_nested_dict({'class1': {'student1': 'Ali', 'student2': 'Ahmad'}, 'class2': {'student1': 'Faisal', 'student2': 'Wisal'}})

class1:
student1: Ali
student2: Ahmad
class2:
student1: Faisal
student2: Wisal

We can do this with simple nested loop as wil

In [51]:
def flatten_list(nested_list):
    flat_list = []
    for sublist in nested_list:
        for item in sublist:
            flat_list.append(item)
    return flat_list
print(flatten_list([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]