# SSC Python Course

First Program of this coures.

In [23]:
print('hello world')
print('Hello Student')

hello world
Hello Student

# Python Indentation

Indentation refers to the spaces at the beginning of a code line.<br>
Where in other programming languages the indentation in code is for readability only, <br> 
the indentation in Python is very important.<br>
Python uses indentation to indicate a block of code.

In [24]:
if 5 > 2:
    print("Five is greater than two!")
#Python will give you an error if you skip the indentation:

Five is greater than two!

In [25]:
#Example
# Error:
if 5 ==  2:
    
    print("Five is greater than two!")
    print(5)
else:
    print("error")

error

# Comments

Python has commenting capability for the purpose of in-code documentation.
Comments start with a #, and Python will render the rest of the line as a comment:

In [26]:
#This is a comment.
print("Hello, World!")

Hello, World!

# Multi Line Comments

Python does not really have a syntax for multi line comments.
To add a multiline comment you could insert a # for each line:

In [27]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Or, not quite as intended, you can use a multiline string.
Since Python will ignore string literals that are not assigned to a variable, you can add 
a multiline string (triple quotes) in your code, and place your comment inside it:

In [28]:
a = """
This is a comment
written in
more than just one line
"""
print("Hello, World!")
print(a)

Hello, World!

This is a comment
written in
more than just one line

# 1. Variables

A Python variable is a named location in computer memory that stores data values.
It acts as a container to hold data that can be referenced and manipulated within a program.
Variables can hold various types of data such as numbers, strings, lists, tuples,
dictionaries, and more. In Python, variables are dynamically typed,
meaning you do not need to declare the type of a variable explicitly;
Python determines the data type based on the value assigned to it.
Variables in Python are created using the assignment operator (=).

In [29]:
name = "python"
age = 18
hight = 5.6 
any_name_you_wish = True
0

0

In [30]:
num = str() 
Name = 2
print(name , Name)

python 2

#       a.Rules for the variables in python

Naming Rules:

Variable names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).
Variable names cannot start with a digit.
Variable names are case-sensitive (myVar is different from myvar).
Variable names cannot be reserved words (keywords) used by Python for its syntax.
Naming Conventions:

Variable names should be descriptive and meaningful, making the code easier to understand.
Use lowercase letters for variable names. For example: my_variable.
Use underscores to separate words in variable names (snake_case).
Avoid using single characters for variable names unless they represent a well-known convention
(e.g., i for loop iterators).
For constants (values that do not change), use all uppercase letters with underscores separating words (e.g., MAX_SIZE).
Avoid using built-in names: It's good practice to avoid using names that are already used by Python
    itself, such as built-in functions, keywords, or commonly used modules. This can lead to unexpected behavior or errors.

Scope:

Variables have a scope, which defines where they can be accessed or modified within a program.
Variables defined within a function have local scope and are accessible only within that function.
Variables defined outside of any function (at the module level) have global scope and can be accessed 
throughout the module.
Global variables can be accessed within functions using the global keyword, but it's generally recommended
to avoid extensive use of global variables as they can lead to code that is difficult to understand and maintain.

# Assign Value to Multiple Variables

In [31]:
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x , y , z)
print(y)
print(z)

Orange Banana Cherry
Banana
Cherry

# Output Variables

The Python print statement is often used to output variables.
To combine both text and a variable, Python uses the + character:

In [32]:
x = "awesome"
print("Python is " + x)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [33]:
x = 5
y = 10
print(x + y)

15

If you try to combine a string and a number, Python will give you an error:

In [34]:
x = 5
y = "John"
print(str(x)+ y)

5John

# Global Variables

Variables that are created outside of a function (as in all of the examples above) are
known as global variables.
Global variables can be used by everyone, both inside of functions and outside.

In [35]:
#Example
#Create a variable outside of a function, and use it inside the function
x = "awesome"
y = "Python is "
def myfunc():
 print(y + x)
myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be
local, and can only be used inside the function. The global variable with the same
name will remain as it was, global and with the original value.

In [36]:
#Example
#Create a variable inside a function, with the same name as the global variable
x = "awesome"
def myfunc():
    x = "fantastic"
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

# The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can
only be used inside that function.
To create a global variable inside a function, you can use the global keyword.

In [37]:
#Example
#If you use the global keyword, the variable belongs to the global scope:
def myfunc():
     global x
     x = "fantastic"
      
myfunc()
print("Python is " + x)

Python is fantastic

# DataTypes:

Built-in Data Types

<h3> In programming, data type is an important concept.
Variables can store data of different types, and different types can do different things.
Python has the following data types built-in by default, in these categories:
Text Type: str
Numeric Types: int, float, complex
Sequence Types: list, tuple, range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes, bytearray, memoryview

# Getting the Data Type

In [38]:
print(type(5))
print(type(5.0))
print(type(1j))
print(type("abc"))
print(type([1,2,3,4,5]))
print(type(range(20)))
print(type({1,2,3,4,5}))
print(type((1,2,3,4,5)))
print(type({"name":["salman" ,"ali"]}))
print(type(({1,2,3,4,5})))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'range'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [129]:
a = "name"
print(type(a))
name = input("enter you name")

<class 'str'>
enter you nameali

# Setting the Specific Data Type

In [39]:
#If you want to specify the data type, you can use the following constructor functions:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))

In [128]:
sum_of_2_num = 0
sum_of_2_num = "str"
type(sum_of_2_num)

str

Numeric Types:

There are three numeric types in Python:
1 int
2 float
3 complex
Variables of numeric types are created when you assign a value to them:

In [40]:
#Example
x = 1 # int
y = 2.8 # float
z = 1j # complex

To verify the type of any object in Python, use the type() function:

In [41]:
#Example
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited
length.
Example
Integers:

In [42]:
x = 1
y = 35656222554887711
z = -3255522
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

# Float, or "floating point number" is a number, positive or negative, containing one or
more decimals.
Example

In [144]:
x = 1.10
y = 1.0
z = -350.590000000099999900909
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

Complex numbers are written with a "j" as the imaginary part:
Example
Complex

In [131]:
x = 3+5j
y = 5j
z = -5j
a = int(z)
print(type(x))
print(type(y))
print(type(z))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# Type Conversion

You can convert from one type to another with the int(), float(),
and complex() methods:
Example
Convert from one type to another:

In [45]:
x = 1 # int
y = 2.8 # float
z = 1j # complex
#convert from int to float:
a = float(x)
#convert from float to int:
b = int(y)
#convert from int to complex:
c = complex(x)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [135]:
a = 10
b = 1j

c = complex(a)
print(type(c))
c

<class 'complex'>

(10+0j)

Note: You cannot convert complex numbers into another number type.

# Random Number

Python does not have a random() function to make a random number, but Python has
a built-in module called random that can be used to make random numbers:

will learn more about the Random module.

In [137]:
#Example
#Import the random module, and display a random number between 1 and 9:

import random
print(random.randrange(1,10))

4

# Python Strings

String literals in python are surrounded by either single quotation marks, or double
quotation marks.
'hello' is the same as "hello".
You can display a string literal with the print() function:

In [47]:
#Example
print("Hello")
print('Hello')

Hello
Hello

## Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal
sign and the string:

In [48]:
#Example
a = "Hello"
print(a)

Hello

### Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [138]:
#Example
#You can use three double quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,

sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,

sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [139]:
b = ''' abc 
abc 
abc
'''
print(b)

 abc
abc
abc

Or three single quotes:

In [50]:
#Example
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Note: in the result, the line breaks are inserted at the same position as in the code.

## Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of
bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a
string with a length of 1.
Square brackets can be used to access elements of the string.

Example
Get the character at position 1 (remember that the first character has the position 0):

In [51]:
a = "Hello, World!"
print(a[1])

e

In [142]:
name = "python"

In [146]:
name[1]
print(x)

1.1

### Slicing

You can return a range of characters by using the slice syntax.
Specify the start index and the end index, separated by a colon, to return a part of
the string.

In [148]:
#Example
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[7:10])

Wor

### Negative Indexing

Use negative indexes to start the slice from the end of the string:
Example
Get the characters from position 5 to position 1, starting the count from the end of
the string:

In [152]:
b = "Hello, World!"
print(b[-3])
c = """Use negative indexes to start the slice from the end of the string:
Example Get the characters from position 5 to position 1, starting the count from the end of the string:"""
print(c[-7:])

l
string:

In [153]:
a = "string"
a[1:]

'tring'

In [194]:
a =  1 
b = 3 
c = 4 
d = 6 
f = 7 
print(a , b, c, d, f)
a = complex(a)
b = complex(b)
c = complex(c)
d = complex(d)
f = complex(f)
print(a , b, c, d, f)
a = str(a)
b = str(b)
c = str(c)
d = str(d)
f = str(f)
print(a , b, c, d, f)
a.replace("0j" , "AB")
b.replace("0j" , "AB")
c.replace("0j" , "AB")
d.replace("0j" , "AB")
f.replace("0j" , "AB")

print(a , b, c, d, f)

1 3 4 6 7
(1+0j) (3+0j) (4+0j) (6+0j) (7+0j)
(1+0j) (3+0j) (4+0j) (6+0j) (7+0j)
(1+0j) (3+0j) (4+0j) (6+0j) (7+0j)

## String Length

To get the length of a string, use the len() function.
Example
The len() function returns the length of a string:

In [154]:
a = "Hello, World!"
print(len(a))

13

In [156]:
name = "ali"
len(name)

3

## String Methods

Python has a set of built-in methods that you can use on strings.
Example
The strip() method removes any whitespace from the beginning or the end:

In [162]:
a = "      Hello,   World!        "
print(a.strip()) # returns "Hello, World!"

Hello,   World!

In [163]:
#Example
#The lower() method returns the string in lower case:
a = "HeLLo, World!"
print(a.lower())

hello, world!

In [57]:
#Example
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [192]:
#Example
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("Wor", "6"))

Hello, 6ld!

In [190]:
a = "123"
print(a.replace("2", "5"))

153

In [59]:
#Example
#The split() method splits the string into substrings if it finds instances of the
#separator:
a = "Hello, World!"
print(a.split(","))
 # returns ['Hello', ' World!']
print(type(a))

['Hello', ' World!']
<class 'str'>

## Check String

To check if a certain phrase or character is present in a string, we can use the
keywords in or not in.

In [195]:
#Example
#Check if the phrase "ain" is present in the following text:
txt = "islamia college peshawar"
x = "abc" in txt
print(x)

False

In [197]:
#Example
#Check if the phrase "ain" is NOT present in the following text:
txt = "islamia college peshawar"
x = "acb" not in txt
print(x)

True

## String Concatenation

To concatenate, or combine, two strings you can use the + operator.

In [62]:
#Example
#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [63]:
#Example
#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and
numbers like this:

In [64]:
#Example
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using the format() method!
The format() method takes the passed arguments, formats them, and places them in
the string where the placeholders {} are:

In [199]:
#Example
#Use the format() method to insert numbers into strings:
age = 20
txt = "My name is ahmad, is my age{}  "
print(txt.format(age))

My name is ahmad, is my age20

The format() method takes unlimited number of arguments, and are placed into the
respective placeholders:

In [200]:
#Example
semester = 6
classno = 21135
cnic = 123456
stdinfo = "my class number is {}, semeter {} and cnic {}"
print(stdinfo.format(classno , semester , cnic))

my class number is 21135, semeter 6 and cnic 123456

You can use index numbers {0} to be sure the arguments are placed in the correct
placeholders:

In [201]:
#Example
semester = 6
classno = 21135
cnic = 123456
stdinfo = "class number = {2} ,  cnic is {1}  and semester {0}"
print(stdinfo.format( cnic ,semester, classno ))

class number = 6 ,  cnic is 21135  and semester 123456

## Escape Character

To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded
by double quotes:

In [ ]:
#Example
#You will get an error if you use double quotes inside a string that is surrounded by
#double quotes:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (580438777.py, line 4)

To fix this problem, use the escape character \\":

In [202]:
#Example
#The escape character allows you to use double quotes when you normally would not
#be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

###### Other escape characters used in Python:

<h1> Try it

\' Single Quote      Try it »
\\ Backslash         Try it »
\n New Line          Try it »
\r Carriage Return   Try it »
\t Tab               Try it »

## String Methods

Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

<h1> String Methods <h1>

Method          Description
capitalize()    Converts the first character to upper case
casefold()      Converts string into lower case
center()        Returns a centered string
count()         Returns the number of times a specified value occurs in a string
encode()        Returns an encoded version of the string
endswith()      Returns true if the string ends with the specified value
expandtabs()    Sets the tab size of the string
find()          Searches the string for a specified value and returns the position of where it was found
format()        Formats specified values in a string
format_map()    Formats specified values in a string
index()         Searches the string for a specified value and returns the position of where it was found
isalnum()       Returns True if all characters in the string are alphanumeric
isalpha()       Returns True if all characters in the string are in the alphabet
isdecimal()     Returns True if all characters in the string are decimals
isdigit()       Returns True if all characters in the string are digits
isidentifier()  Returns True if the string is an identifier
islower()       Returns True if all characters in the string are lower case
isnumeric()     Returns True if all characters in the string are numeric
isprintable()   Returns True if all characters in the string are printable
isspace()       Returns True if all characters in the string are whitespaces
istitle()       Returns True if the string follows the rules of a title
isupper()       Returns True if all characters in the string are upper case
join()          Joins the elements of an iterable to the end of the string
ljust()         Returns a left justified version of the string
lower()         Converts a string into lower case
lstrip()        Returns a left trim version of the string
maketrans()     Returns a translation table to be used in translations
partition()     Returns a tuple where the string is parted into three parts
replace()       Returns a string where a specified value is replaced with a specified value
rfind()         Searches the string for a specified value and returns the last position of where it was
found
rindex()        Searches the string for a specified value and returns the last position of where it was
found
rjust()         Returns a right justified version of the string
rpartition()    Returns a tuple where the string is parted into three parts
rsplit()        Splits the string at the specified separator, and returns a list
rstrip()        Returns a right trim version of the string
split()         Splits the string at the specified separator, and returns a list
splitlines()    Splits the string at line breaks and returns a list
startswith()    Returns true if the string starts with the specified value
strip()         Returns a trimmed version of the string
swapcase()      Swaps cases, lower case becomes upper case and vice versa
title()         Converts the first character of each word to upper case
translate()     Returns a translated string
upper()         Converts a string into upper case
zfill()         Fills the string with a specified number of 0 values at the beginning

# Python Booleans

Booleans represent one of two values: True or False.

## Boolean Values

In programming you often need to know if an expression is True or False.
You can evaluate any expression in Python, and get one of two answers, True or False.
When you compare two values, the expression is evaluated and Python returns the
Boolean answer

In [ ]:
#Example
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [ ]:
#Example
#Print a message based on whether the condition is True or False:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

## Functions can Return a Boolean

Python also has many built-in functions that returns a boolean value, like
the isinstance() function, which can be used to determine if an object is of a certain
data type:

In [204]:
#Example
#Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

False

In [208]:
bool(" ")

True

<h1>Most Values are True

Almost any value is evaluated to True if it has some sort of content.<br>
Any string is True, except empty strings.<br>
Any number is True, except 0.<br>
Any list, tuple, set, and dictionary are True, except empty ones.<br>

In [1]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

<h1>Some Values are False</h1>
In fact, there are not many values that evaluates to False, except empty values, such
as (), [], {}, "", the number 0, and the value None. And of course the
value False evaluates to False.

In [3]:
#Example
#The following will return False:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

## Python Operators

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:

<h3> Arithmetic operators
 Assignment operators
 Comparison operators
 Logical operators
 Identity operators

### Python Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical
operations:

In [16]:
#Addition
print(3+4)

7

In [17]:
#Subtraction
print(3-4)

-1

In [18]:
#Multiplication
print(3 * 4)

12

In [19]:
#Division
print( 3/1)

3.0

In [20]:
#Modulus
print(4 % 3)

1

In [21]:
#power
print(3 ** 2)

9

In [7]:
#Floor division
print( 10 // 3)

3

### Python Assignment Operators

Assignment operators are used to assign values to variables:

In [14]:
x = 5 
print("X = ", x)
x += 3
print("X = ", x)
x -= 1
print("X = ", x)
x *= 1
print("X = ", x)
x /= 2
print("X = ", x)
x %= 4
print("X = " ,x)
x **= 3
print("X = ", x)

X =  5
X =  8
X =  7
X =  7
X =  3.5
X =  3.5
X =  42.875

<h3>
 Same As

In [12]:
x = 5 
print("X = ", x)
x = x + 3
print("X = ", x)
x= x - 1
print("X = ", x)
x= x * 1
print("X = ", x)
x= x / 2
print("X = ", x)
x= x % 4
print("X = " ,x)
x = x ** 3
print("X = ", x)

X =  5
X =  8
X =  7
X =  7
X =  3.5
X =  3.5
X =  42.875

<h1>Python Comparison Operators</h1>
Comparison operators are used to compare two values:

In [15]:
#Equal 
a = 4
b = 4 
a == b

True

In [16]:
#Not equal 
a != b

False

In [18]:
#Greater than 
a > b

False

In [20]:
#Less than
a < b

False

In [21]:
#Greater than or equal to
a >= b

True

In [22]:
#Less than or equal to
a <= b

True

<h1>Python Logical Operators</h1>

Logical operators are used to combine conditional statements:

In [24]:
# and Operator 
#Returns True if both statements are
#true

print( a < 3 and a > 1)

False

In [26]:
#or 
#Returns True if one of the statements
#is true

print( a < 3 or  a > 1)

True

In [35]:
# not
#Reverse the result, returns False if
#the result is true

print(not( a < 3 or  a > 1))

False

<h1>Python Identity Operators</h1>
Identity operators are used to compare the objects, not if they are equal, but if they
are actually the same object, with the same memory location:

<h3>is

In [262]:
#Returns true if both variables are the
#same object
a = 4.0
b = 4.0
print(a is b)
type(b)

False

float

In [4]:
a = 5 
b = 5.0

print(a is b)
print(a == b)
c = 5
a == c

False
True

True

In [270]:
num1 = 1.0
num2 = 1.0
print(num1 is num2)

False

<h3>is not

In [242]:
#Returns true if both variables are not the
#same object
b = 4
a 
a is not b

True

<h1>Python Membership Operators</h1>
    
Membership operators are used to test if a sequence is presented in an object:

<h3>in</h3>
Returns True if a sequence with
the specified value is present in
the object

In [268]:
name =  "islamia"
"ah" in name

False

<h1>not in</h1>
Returns True if a sequence with
the specified value is not present
in the object

In [269]:
name =  "islamia"
"as" not in name

True

## Python Bitwise Operators

Python provides several bitwise operators for performing operations on individual bits of integer values. Here are the bitwise operators available in Python:

<h3>Bitwise AND (&):</h3>
Returns 1 for each bit position where both operands have a 1.
<h3>Bitwise OR (|):</h3>
Returns 1 for each bit position where at least one operand has a 1.
<h3>Bitwise XOR (^):</h3>
Returns 1 for each bit position where exactly one operand has a 1.
<h3>Bitwise NOT (~):</h3>
Inverts all the bits of the operand, turning 1s into 0s and vice versa.
<h3>Left Shift (<<):</h3>
Shifts the bits of the left operand to the left by the number of positions specified by the right operand.
<h3>Right Shift (>>):</h3>
Shifts the bits of the left operand to the right by the number of positions specified by the right operand.

In [1]:
# Bitwise AND
result_and = 5 & 3  # 0101 & 0011 = 0001
print("Bitwise AND:", result_and)  # Output: 1

# Bitwise OR
result_or = 5 | 3  # 0101 | 0011 = 0111
print("Bitwise OR:", result_or)  # Output: 7

# Bitwise XOR
result_xor = 5 ^ 3  # 0101 ^ 0011 = 0110
print("Bitwise XOR:", result_xor)  # Output: 6

# Bitwise NOT
result_not = ~5  # ~0101 = 1010 (in two's complement)
print("Bitwise NOT:", result_not)  # Output: -6

# Left Shift
result_left_shift = 5 << 1  # 0101 << 1 = 1010
print("Left Shift:", result_left_shift)  # Output: 10

# Right Shift
result_right_shift = 5 >> 1  # 0101 >> 1 = 0010
print("Right Shift:", result_right_shift)  # Output: 2

Bitwise AND: 1
Bitwise OR: 7
Bitwise XOR: 6
Bitwise NOT: -6
Left Shift: 10
Right Shift: 2

# Python Lists

<h2>Python Collections (Arrays)</h2>
There are four collection data types in the Python programming language:<br>

 <h3>  List</h3> is a collection which is ordered and changeable. Allows duplicate members.<br>
    <h3> Tuple </h3>is a collection which is ordered and unchangeable. Allows duplicate
members.<br>
    <h3> Set</h3> is a collection which is unordered and unindexed. No duplicate members.<br>
    <h3> Dictionary </h3>is a collection which is unordered, changeable and indexed. No
duplicate members.<br>

When choosing a collection type, it is useful to understand the properties of that type.
Choosing the right type for a particular data set could mean retention of meaning,
and, it could mean an increase in efficiency or security.

<h1>List</h1>

A list is a collection which is ordered and changeable. In Python lists are written with
square brackets.

In [59]:
#Example
#Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [11]:
l1 = [1 , 2, 3, 4, 5 ,"abc" , 1.0 , 1j , 2+2]
type(l1)

list

<h1>Access Items</h1>
You access the list items by referring to the index number:

In [12]:
#Example
#Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[2])

banana
cherry

<h2>Negative Indexing</h2>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers
to the second last item etc.

In [14]:
#Example
#Print the last item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[0:2])

['apple', 'banana']

<h2>Range of Indexes</h2>
You can specify a range of indexes by specifying where to start and where to end the
range.
When specifying a range, the return value will be a new list with the specified items.
<h4>Example</h4>

In [15]:
#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

<h3>Note:</h3> The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

In [66]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [67]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

<h3>Range of Negative Indexes</h3>
Specify negative indexes if you want to start the search from the end of the list:
<h4>Example</h4>

In [17]:
#This example returns the items from index -4 (included) to index -1 (excluded)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4: -1])
print(thislist[-1])

['orange', 'kiwi', 'melon', 'mango']
mango

# <h3>Change Item Value</h3>
To change the value of a specific item, refer to the index number:
<h4>Example</h4>
Change the second item:

In [70]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "abc"
print(thislist)

['apple', 'abc', 'cherry']

<h3>Loop Through a List</h3>
You can loop through the list items by using a for loop:
<h4>Example</h4>
Print all items in the list, one by one:

In [21]:
thislist = ["apple", "banana", "cherry"]
x = thislist
if x is thislist:
    print(x)

['apple', 'banana', 'cherry']

<h3>Check if Item Exists</h3>
To determine if a specified item is present in a list use the in keyword:
<h4>Example</h4>
Check if "apple" is present in the list:

In [26]:
thislist = ["apple", "banana", "cherry"]
if "banana" in thislist:
    print("Yes, 'banana' is in the fruits list")
else:
    print("no")

Yes, 'banana' is in the fruits list

<h3>List Length</h3>
To determine how many items a list has, use the len() function:
<h4>Example</h4>
Print the number of items in the list:

In [29]:
thislist = ["apple", "banana", "cherry" , 1 , 2]
print(len(thislist))
s = "äbcd"
print(len(s))

5
4

<h3>Add Items</h3>
To add an item to the end of the list, use the append() method:
<h4>Example</h4>
Using the append() method to append an item:

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.append(["orange", 1,2])
print(thislist)

['apple', 'banana', 'cherry', ['orange', 1, 2]]

To add an item at the specified index, use the insert() method:

In [32]:
#Example
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
thislist.insert(2, "abc")

print(thislist)

['apple', 'orange', 'abc', 'banana', 'cherry']

<h3>Remove Item</h3>
There are several methods to remove items from a list:
<h4>Example</h4>
The remove() method removes the specified item:

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")

print(thislist)

['banana', 'cherry']

<h4>Example</h4>
The pop() method removes the specified index, (or the last item if index is not
specified):

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

<h4>Example</h4>
The del keyword removes the specified index:

In [82]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

<h4>Example</h4>
The del keyword can also delete the list completely:

In [36]:
thislist = ["apple", "banana", "cherry"]
del thislist[2]
print(thislist)

['apple', 'banana']

<h4>Example</h4>
The clear() method empties the list:

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(type(thislist))

<class 'list'>

<h3>Copy a List</h3>
You cannot copy a list simply by typing list2 = list1, because: list2 will only be
a reference to list1, and changes made in list1 will automatically also be made
in list2.
There are ways to make a copy, one way is to use the built-in List method copy().
<h4>Example</h4>
Make a copy of a list with the copy() method:

In [42]:
thislist = ["apple", "banana", "cherry"]

mylist = thislist.copy()
print(mylist)
l1 = [ 1,2,3]
l2 = list(l1)
print(l1)
print(l2)

['apple', 'banana', 'cherry']
[1, 2, 3]
[1, 2, 3]

In [90]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

<h3>Join Two Lists</h3>
There are several ways to join, or concatenate, two or more lists in Python.
One of the easiest ways are by using the + operator.
<h4>Example</h4>
Join two list:

In [43]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
list4 = list3 + list1
print(list3)
print(list4)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c']

In [49]:
#Append list2 into list1:
list1 = ["a", "b" , "c" , 1 ,4,5]
list2 = [1, 2, 3]

for i in list2:
    list1.append(i)
print(list1)

['a', 'b', 'c', 1, 4, 5, 1, 2, 3]

In [51]:
#Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list(["a"])
list3.extend(list2)
print(list3)

['a', 1, 2, 3]

<h3>The list() Constructor</h3>
It is also possible to use the list() constructor to make a new list.
<h4>Example</h4>
Using the list() constructor to make a List:

In [53]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(type(thislist))

<class 'list'>

<h1>List Methods</h1>

Python has a set of built-in methods that you can use on lists.

Method      Description
append()    Adds an element at the end of the list
clear()     Removes all the elements from the list
copy()      Returns a copy of the list
count()     Returns the number of elements with the specified value
extend()    Add the elements of a list (or any iterable), to the end of the current list
index()     Returns the index of the first element with the specified value
insert()    Adds an element at the specified position
pop()       Removes the element at the specified position
remove()    Removes the item with the specified value
reverse()   Reverses the order of the list
sort()      Sorts the list

In [64]:
l1 = [1,4,2,5,6]
for i in range(0,6):
    print(l1[i])

In [77]:
l1 = [1,4,2,5,6]
for i in range(4,0,-1):
    print(l1[i])

6
5
2
4

# Python Tuples

<h2>Tuple</h2>
A tuple is a collection which is ordered and unchangeable. In Python tuples are
written with round brackets.
<h4>Example</h4>
Create a Tuple:

In [79]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
t =  (1,3,3,"b")
t.append(5)
print(t)

('apple', 'banana', 'cherry')

AttributeError: 'tuple' object has no attribute 'append'

## Access Tuple Items

same as list

1. Negative Indexing
2. Range of Indexes
3. Range of Negative Indexes

In [84]:
t = ( 1,2,4)
t[-1]

4

### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are <h5>unchangeable,</h5>
or immutable as it also is called.
But there is a workaround. You can convert the tuple into a list, change the list, and
convert the list back into a tuple.
<h4>Example</h4>
Convert the tuple into a list to be able to change it:

In [85]:
x = ("apple", "banana", "cherry")
x[1] = "abc"
y = list(x)
y[1] = "abc"
x = tuple(y)
print(x)

TypeError: 'tuple' object does not support item assignment

### Loop Through a Tuple

same as list

### Check if Item Exists
same as list

<h3>Tuple Length</h3>
To determine how many items a tuple has, use the len() method:
<h4>Example</h4>
Print the number of items in the tuple:

In [111]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Cannot add Item to tuple <br>
Cannot create a tuple with 1 item<br>
cannot remove any item

In [114]:
#The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

<h3>Join Two Tuples</h3>
To join two or more tuples you can use the + operator:
<h4>Example</h4>
Join two tuples:

In [86]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3+1)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 4)

<h3>The tuple() Constructor</h3>
It is also possible to use the tuple() constructor to make a tuple.
<h4>Example</h4>
Using the tuple() method to make a tuple:

In [88]:
thistuple = tuple(["apple", "banana", "cherry"]) 
# note the double roundbrackets
print(type(thistuple))

<class 'tuple'>

# Python Sets

<h3>Set</h3>
A set is a collection which is unordered and unindexed. In Python sets are written with 
curly brackets.
<h4>Example</h4>
Create a Set:

In [92]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

<h3>Note:</h3> Sets are unordered, so you cannot be sure in which order the items will appear.

<h3>Access Items</h3>
You cannot access items in a set by referring to an index, since sets are unordered 
the items has no index.
But you can loop through the set items using a for loop, or ask if a specified value is 
present in a set, by using the in keyword.
<h4>Example</h4>
Loop through the set, and print the values:

In [94]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

TypeError: 'set' object is not subscriptable

<h4>Example</h4>
Check if "banana" is present in the set:

In [5]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

<h3>Change Items</h3>
Once a set is created, you cannot change its items, but you can add new items.
<h3>Add Items</h3>
To add one item to a set use the add() method.
To add more than one item to a set use the update() method.
<h4>Example</h4>
Add an item to a set, using the add() method:

In [101]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
set1 = {1,2,3,4, 4,5,6}
print(set1)
set1.add(5)
print(set1)

{'cherry', 'banana', 'apple', 'orange'}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

<h4>Example</h4>
Add multiple items to a set, using the update() method:

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'orange', 'banana', 'apple', 'cherry', 'grapes', 'mango'}

<h3>Get the Length of a Set</h3>
To determine how many items a set has, use the len() method.
<h4>Example</h4>
Get the number of items in a set:

In [15]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

<h3>Remove Item</h3>
To remove an item in a set, use the remove(), or the discard() method.
<h4>Example</h4>
Remove "banana" by using the remove() method:

In [105]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

ZeroDivisionError: division by zero

<h3>Note:</h3> If the item to remove does not exist, remove() will raise an error.
<h4>Example</h4>
Remove "banana" by using the discard() method:

In [106]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

<h3>Note:</h3> If the item to remove does not exist, discard() will NOT raise an error.
You can also use the pop(), method to remove an item, but this method will remove 
the last item. Remember that sets are unordered, so you will not know what item that 
gets removed.
The return value of the pop() method is the removed item.
<h4>Example</h4>

In [121]:
#Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry","abc","sdf","sddd","asjhdh"}
x = thisset.pop()
print(x)
print(thisset)

sdf
{'cherry', 'apple', 'abc', 'sddd', 'banana', 'asjhdh'}

<h3>Note:</h3> Sets are unordered, so when using the pop() method, you will not know which 
item that gets removed.
<h4>Example</h4>
The clear() method empties the set:

In [23]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

<h4>Example</h4>
The del keyword will delete the set completely:

In [24]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

<h3>Join Two Sets</h3>
There are several ways to join two or more sets in Python.
You can use the <h5>union()</h5> method that returns a new set containing all items from both 
sets, or the update() method that inserts all the items from one set into another:
<h4>Example</h4>
The union() method returns a new set with all items from both sets:

In [29]:
set1 = {"a", 2 , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a'}

In [30]:
# or update()
set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a'}

<h3>Note:</h3> Both union() and update() will exclude any duplicate items.
There are other methods that joins two sets and keeps ONLY the duplicates, or NEVER 
the duplicates, check the full list of set methods

<h3>The set() Constructor</h3>
It is also possible to use the set() constructor to make a set.
<h4>Example</h4>
Using the set() constructor to make a set:

In [123]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(type(thisset))

<class 'set'>

<h2>Set Methods</h2>
Python has a set of built-in methods that you can use on sets.
<h3>Method</h3>       <h3> Description</h3>
<h5>add()</h5> Adds an element to the set
<h5>clear()</h5> Removes all the elements from the set
<h5>copy() </h5>Returns a copy of the set
<h5>difference()</h5> Returns a set containing the difference between two or more sets
<h5>difference_update()</h5> Removes the items in this set that are also included in another, specified 
set
<h5>discard()</h5> Remove the specified item
<h5>intersection()</h5> Returns a set, that is the intersection of two other sets
<h5>intersection_update()</h5> Removes the items in this set that are not present in other, specified 
<h5>set(s)</h5>
<h5>isdisjoint() </h5>Returns whether two sets have a intersection or not
<h5>issubset()</h5> Returns whether another set contains this set or not
<h5>issuperset()</h5> Returns whether this set contains another set or not
<h5>pop()</h5> Removes an element from the set
<h5>remove()</h5> Removes the specified element
<h5>symmetric_difference()</h5> Returns a set with the symmetric differences of two sets
<h5>symmetric_difference_update()</h5> inserts the symmetric differences from this set and another
<h5>union()</h5> Return a set containing the union of sets
<h5>update() </h5>Update the set with the union of this set and others

<h1>Python Dictionaries</h1>
<h2>Dictionary</h2>
A dictionary is a collection which is unordered, changeable and indexed. In Python 
dictionaries are written with curly brackets, and they have keys and values.
<h4>Example</h4>
Create and print a dictionary:

In [128]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
d1 = {
    "name": ["ali","khan"]
    ,"classno": [11111,33334]
    , "hsdjhh": 2, 3
}
print(d1)
print(thisdict)

SyntaxError: ':' expected after dictionary key (787690337.py, line 9)

<h3>Accessing Items</h3>
You can access the items of a dictionary by referring to its key name, inside square 
brackets:
<h4>Example</h4>
Get the value of the "model" key:

In [36]:
x = thisdict["model"]
print(x)

Mustang

There is also a method called get() that will give you the same result:
<h4>Example</h4>
Get the value of the "model" key:

In [37]:
x = thisdict.get("model")
print(x)

Mustang

<h3>Change Values</h3>
You can change the value of a specific item by referring to its key name:
<h4>Example</h4>
Change the "year" to 2018:

In [39]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

<h3>Loop Through a Dictionary</h3>
You can loop through a dictionary by using a for loop.
When looping through a dictionary, the return value are the keys of the dictionary, 
but there are methods to return the values as well.
<h4>Example</h4>
Print all key names in the dictionary, one by one:

In [40]:
for x in thisdict:
 print(x)

brand
model
year

In [41]:
#Example
#Print all values in the dictionary, one by one:
for x in thisdict:
     print(thisdict[x])

Ford
Mustang
2018

In [44]:
# print both key and values 
for x in thisdict:
    print(x , thisdict[x])

brand Ford
model Mustang
year 2018

In [46]:
#Example
#You can also use the values() function to return values of a dictionary:
for x in thisdict.values():
     print(x)

Ford
Mustang
2018

In [130]:
l1 = [1,2,3,4,5,6,7]
print(l1[0:6])

[1, 2, 3, 4, 5, 6]

In [48]:
#Example
#Loop through both keys and values, by using the items() function:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

<h3>Check if Key Exists</h3>
To determine if a specified key is present in a dictionary use the in keyword:
<h4>Example</h4>
Check if "model" is present in the dictionary:

In [133]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
    print("no")

Yes, 'model' is one of the keys in the thisdict dictionary

<h3>Dictionary Length</h3>
To determine how many items (key-value pairs) a dictionary has, use 
the len() method.
<h4>Example</h4>
Print the number of items in the dictionary:

In [51]:
print(len(thisdict))

3

<h3>Adding Items</h3>
Adding an item to the dictionary is done by using a new index key and assigning a 
value to it:
<h4>Example

In [143]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
d1 = {
    "1": [1,3],
    2: 2,
    3: 3,
    4: 4
}
d1.pop("1")
d1["abc"] = 5
print(d1)

{2: 2, 3: 3, 4: 4, 'abc': 5}

<h3>Removing Items</h3>
There are several methods to remove items from a dictionary:
<h4>Example</h4>
The pop() method removes the item with the specified key name:

In [55]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

<h4>Example</h4>
The popitem() method removes the last inserted item (in versions before 3.7, a 
random item is removed instead):

In [56]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [58]:
#Example
#The del keyword removes the item with the specified key name:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [59]:
#Example
#The del keyword can also delete the dictionary completely:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [60]:
#Example
#The clear() keyword empties the dictionary:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
thisdict.clear()
print(thisdict)

{}

<h2>Copy a Dictionary</h2>
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will 
only be a reference to dict1, and changes made in dict1 will automatically also be 
made in dict2.
There are ways to make a copy, one way is to use the built-in Dictionary 
<h3>method copy().</h3>
<h4>Example</h4>
Make a copy of a dictionary with the copy() method:

In [61]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [149]:
d1 = {"a":{1:1}, "b":{2:2} , "c":{3:3}}
d1

{'a': {1: 1}, 'b': {2: 2}, 'c': {3: 3}}

Another way to make a copy is to use the built-in method dict().
<h4>Example</h4>
Make a copy of a dictionary with the dict() method:

In [62]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

<h3>Nested Dictionaries</h3>
A dictionary can also contain many dictionaries, this is called nested dictionaries.
<h4>Example</h4>
Create a dictionary that contain three dictionaries:

In [64]:
myfamily = {
 "child1" : {
 "name" : "ali",
 "year" : 2004
},
 "child2" : {
 "name" : "ahmad",
 "year" : 2007
},
 "child3" : {
 "name" : "khan",
 "year" : 2011
}
}
print(myfamily)

{'child1': {'name': 'ali', 'year': 2004}, 'child2': {'name': 'ahmad', 'year': 2007}, 'child3': {'name': 'khan', 'year': 2011}}

In [150]:
a = {1:1}
b = {2:3}
c = {
    "1" : a,
    "2": b
}
print(c)

{'1': {1: 1}, '2': {2: 3}}

Or, if you want to nest three dictionaries that already exists as dictionaries:
<h4>Example</h4>
Create three dictionaries, than create one dictionary that will contain the other three 
dictionaries:

In [65]:

child1 = {
 "name" : "ali",
 "year" : 2004
}
child2 = {
 "name" : "ahmad",
 "year" : 2007
}
child3 = {
 "name" : "khan",
 "year" : 2011
}

myfamily = {
    "ch1" : child1,
    "ch2" : child2,
    "ch3" : child3
    
}
print(myfamily)

{'ch1': {'name': 'ali', 'year': 2004}, 'ch2': {'name': 'ahmad', 'year': 2007}, 'ch3': {'name': 'khan', 'year': 2011}}

<h3>The dict() Constructor</h3>
It is also possible to use the dict() constructor to make a new dictionary:
<h4>Example</h4>

In [67]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

<h2>Dictionary Methods</h2>
Python has a set of built-in methods that you can use on dictionaries.
<h4>Method</h4><h4> Description</h4>
<h5>clear()</h5> Removes all the elements from the dictionary
<h5>copy()</h5> Returns a copy of the dictionary
<h5>fromkeys() </h5>Returns a dictionary with the specified keys and values
<h5>get() </h5>Returns the value of the specified key
<h5>items() </h5>Returns a list containing a tuple for each key value pair
<h5>keys() </h5>Returns a list containing the dictionary's keys
<h5>pop() </h5>Removes the element with the specified key
<h5>popitem()</h5> Removes the last inserted key-value pair
<h5>setdefault()</h5> Returns the value of the specified key. If the key does not exist: insert the key, with the 
specified value
<h5>update()</h5> Updates the dictionary with the specified key-value pairs
<h5>values()</h5> Returns a list of all the values in the dictionary

# Quiz Time:

<h1>Python If ... Else</h1>
<h2>Python Conditions and If statements</h2>
Python supports the usual logical conditions from mathematics:
<h4> Equals: a == b
 Not Equals: a != b
 Less than: a < b
 Less than or equal to: a <= b
 Greater than: a > b
 Greater than or equal to: a >= b
    </h4>
These conditions can be used in several ways, most commonly in "if statements" and 
loops.
An "if statement" is written by using the if keyword.
<h4>Example</h4>

In [29]:
#If statement:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In this example we use two variables, a and b, which are used as part of the if 
statement to test whether b is greater than a. As a is 33, and b is 200, we know that 
200 is greater than 33, and so we print to screen that "b is greater than a".
<h3>Indentation</h3>
Python relies on indentation (whitespace at the beginning of a line) to define scope in 
the code. Other programming languages often use curly-brackets for this purpose.
<h4>Example</h4>
If statement, without indentation (will raise an error):

In [31]:
a = 33
b = 200
if b > a:
    print("b is greater than a") # you will get an erro

b is greater than a

<h2>Elif</h2>
The elif keyword is pythons way of saying "if the previous conditions were not true, 
then try this condition".
<h4>Example

In [7]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In this example a is equal to b, so the first condition is not true, but the elif condition 
is true, so we print to screen that "a and b are equal".
<h2>Else</h2>
The else keyword catches anything which isn't caught by the preceding conditions.
<h4>Example</h4>

In [9]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also 
the elif condition is not true, so we go to the else condition and print to screen that 
"a is greater than b".
<h4>You can also have an else without the elif: <br>
Example

In [10]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

<h2>Short Hand If</h2>
If you have only one statement to execute, you can put it on the same line as the if 
statement.
<h4>Example</h4>
One line if statement:

In [12]:
if a > b: print("a is greater than b")

a is greater than b

<h3>Short Hand If ... Else</h3>
If you have only one statement to execute, one for if, and one for else, you can put it 
all on the same line:
<h4>Example</h4>
One line if else statement:

In [15]:
a = 2
b = 330
print("A") if a > b else print("B")

B

You can also have multiple else statements on the same line:
<h4>Example</h4>
One line if else statement, with 3 conditions:

In [16]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

<h3>And</h3>
The and keyword is a logical operator, and is used to combine conditional statements:
<h4>Example</h4>
Test if a is greater than b, AND if c is greater than a:

In [18]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

<h3>Or</h3>
The or keyword is a logical operator, and is used to combine conditional statements:
<h4>Example</h4>
Test if a is greater than b, OR if a is greater than c:

In [19]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

<h3>Nested If<h3>
You can have if statements inside if statements, this is called nested if statements.
<h4>Example

In [20]:
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

<h3>The pass Statement</h3>
if statements cannot be empty, but if you for some reason have an if statement 
with no content, put in the pass statement to avoid getting an error.
<h4>Example

In [21]:
a = 33
b = 200
if b > a:
    pass

# let try some examples of condition statments

<h1>Python While Loops</h1>
<h2>Python Loops</h2>
Python has two primitive loop commands:
<h3> while loops<br>
 for loops<br>
The while Loop</h3>
With the while loop we can execute a set of statements as long as a condition is true.
<h4>Example</h4>
Print i as long as i is less than 6:

In [23]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

<h5>Note:</h5> remember to increment i, or else the loop will continue forever.
The while loop requires relevant variables to be ready, in this example we need to 
define an indexing variable, i, which we set to 1.
The break Statement
With the break statement we can stop the loop even if the while condition is true:
<h4>Example</h4>
Exit the loop when i is 3:

##### The break statment:

In [27]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [27]:
name = "siraat ali"
print(name[-1:-4])

<h3>The continue Statement</h3>
With the continue statement we can stop the current iteration, and continue with the 
next:
<h4>Example</h4>
Continue to the next iteration if i is 3:

In [33]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

<h3>The else Statement</h3>
With the else statement we can run a block of code once when the condition no 
longer is true:
<h4>Example</h4>
Print a message once the condition is false:

In [35]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

<h1>Python For Loops</h1>
<h2>Python For Loops</h2>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a 
dictionary, a set, or a string).
This is less like the for keyword in other programming languages, and works more 
like an iterator method as found in other object-orientated programming languages.
With the for loop we can execute a set of statements, once for each item in a list, 
tuple, set etc.
<h4>Example</h4>
Print each fruit in a fruit list:

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.
<h3>Looping Through a String</h3>
Even strings are iterable objects, they contain a sequence of characters:
<h4>Example</h4>
Loop through the letters in the word "banana":

In [38]:
for x in "banana":
    print(x)

b
a
n
a
n
a

<h3>The break Statement</h3>
With the break statement we can stop the loop before it has looped through all the 
items:
<h4>Example</h4>
Exit the loop when x is "banana":

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

<h4>Example</h4>
Exit the loop when x is "banana", but this time the break comes before the print:

In [44]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

<h3>The continue Statement</h3>
With the continue statement we can stop the current iteration of the loop, and 
continue with the next:
<h4>Example</h4>
Do not print banana:

In [45]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

<h3>The range() Function</h3>
To loop through a set of code a specified number of times, we can use 
the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and 
increments by 1 (by default), and ends at a specified number.
<h4>Example</h4>
Using the range() function:

In [47]:
for x in range(6):
    print(x)

0
1
2
3
4
5

<h5>Note</h5> that range(6) is not the values of 0 to 6, but the values 0 to 5.
The range() function defaults to 0 as a starting value, however it is possible to specify 
the starting value by adding a parameter: range(2, 6), which means values from 2 to 
6 (but not including 6):
<h4>Example</h4>
Using the start parameter:

In [48]:
for x in range(2, 6):
    print(x)

2
3
4
5

<h5>The range()</h5> function defaults to increment the sequence by 1, however it is possible 
to specify the increment value by adding a third parameter: range(2, 30, 3):
<h4>Example</h4>
Increment the sequence with 3 (default is 1):

In [49]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

<h3>Else in For Loop</h3>
The else keyword in a for loop specifies a block of code to be executed when the loop 
is finished:
<h4>Example</h4>
Print all numbers from 0 to 5, and print a message when the loop has ended:

In [50]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

<h3>Nested Loops</h3>
A nested loop is a loop inside a loop.
The "inner loop" will be executed one time for each iteration of the "outer loop":
<h4>Example</h4>
Print each adjective for every fruit:

In [51]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

<h3>The pass Statement</h3>
for loops cannot be empty, but if you for some reason have a for loop with no 
content, put in the pass statement to avoid getting an error.
<h4>Example

In [52]:
for x in [0, 1, 2]:
    pass

### let try some examples of loops